<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Omiart</title>

    <!-- Bootstrap core CSS -->
    {#  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="{{ url_for('static', filename = './vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    {#  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">#}
    <link href="{{ url_for('static', filename = './vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    {#  <link href="css/grayscale.min.css" rel="stylesheet">#}
    <link href="{{ url_for('static', filename = './css/grayscale.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
</head>

<body id="page-top" onload="onload_func()" onresize="resize()">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        {#      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.svg" alt="Homepage"></a>#}
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img
                src="{{ url_for('static', filename = './img/logo.svg') }}" alt="Homepage"></a>
        {#    <link href="{{ url_for('static', filename = './img/logo.svg') }}" rel="stylesheet">#}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#chart">Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">OmniArt</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">The Only Artistic Dataset You Will Ever Need!</h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">Let's explore!</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container" class="container d-flex h-100 align-items-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Describe to design/implement</h2>
                <p class="text-white-50">description</p>
            </div>
        </div>
        {#      <img src="img/omniart.jpg" class="img-fluid" alt="" style="padding: 50px; margin: 0px;">#}
        <img src="{{ url_for('static', filename = './img/omniart.jpg') }}" class="img-fluid" alt=""
             style="padding: 50px; margin: 0px;">
        {#        {{ url_for('static', filename = './img/logo.svg') }}      #}
    </div>
</section>

<!-- Projects Section -->
<section id="chart-gallery" class="projects-section bg-light" style="padding: 0px; margin: 0px;">
    <div class="projects-section" style="padding: 0px; margin: 0px;">
        <div class="row align-items-center no-gutters">
            <!-- rgb(46, 47, 51) -->
            <!-- rgb(41, 41, 45) -->
            <script type="text/javascript">
                let stack_x_axis_data        = {{ stack_x_axis_data | safe }};
                let stack_item_data          = {{ stack_item_data   | safe }};
                let word_cloud_chart_data    = {{ word_cloud_chart_data   | safe }};
                let artiest_index_chart_data = {{ artiest_index_chart_data | safe}};
            </script>
            <div class="col-xl-8 col-lg-7 row" style="background-color: blue; margin: 0px;padding: 0px;">
                <div class="col-xl-1" style="height: 100px; background-color: sandybrown;"></div>
                <div class="col-xl-11" style="height: 100px; background-color: rebeccapurple;">Logo Title Description
                </div>
            </div>
            <div id="echarts-stack" class="col-xl-8 col-lg-7">Stack/Zoom bar/Legend</div>
            {#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
            <div class="col-xl-8 col-lg-7 " style="height: 100px; background-color: yellowgreen;">ICON/Description</div>
            <div class="row col-xl-8 col-lg-7" style="background-color: darkblue; margin: 0px;padding: 0px;">
                <div id="echarts-tree" class="col-xl-6 col-lg-6 align-self-center" style="height: 100px; background-color: darkcyan;padding: 0px; margin: 0px;">Tree</div>
                <div id="echarts-artiest-index" class="col-xl-6 col-lg-6 align-self-center" style="height: 100px; background-color: darkgreen;padding: 0px; margin: 0px;">Artiest Index</div>

            </div>
            <div id="echarts-artiest-intro" class="row col-xl-8 col-lg-7" style="background-color: darkorchid;margin: 0px;padding: 0px;">
                    <div id="echarts-artiest-descr" class="col-xl-8" style="margin: 0px;padding: 0px;">Artiest Intro</div>
                    <object id="echarts-artiest-img" class="col-xl-4" type="text/html" data="" style="margin: 0px;padding: 0px;"></object>
            </div>
            <div id="echarts-word-cloud" class="col-xl-8 col-lg-7" style="overflow: visible; background-color: yellowgreen;">word cloud</div>

            {#<script src='./echarts-wordcloud.js'></script>#}
            <script src="{{ url_for('static', filename = './js/echarts-wordcloud.js') }}"></script>
            <script src="{{ url_for('static', filename = './echarts-overall.js') }}"></script>
            <script src="{{ url_for('static', filename = './echarts-stack.js') }}"></script>
            <script src="{{ url_for('static', filename = './echarts-tree.js') }}"></script>
            <script src="{{ url_for('static', filename = './echarts-artiest-index.js') }}"></script>
            <script src="{{ url_for('static', filename = './echarts-word-cloud.js') }}"></script>
            <div id="gallery" class="col-xl-4 col-lg-5"
                 style="height: 100px; width: 100%,; background-color: rgb(41, 41, 45);">
            </div>
        </div>
    </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

                <form class="form-inline d-flex">
                    <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail"
                           placeholder="Enter email address...">
                    <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                </form>

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="far fa-address-card text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Group Members</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">Kai Zhang Student ID: 12712469</div>
                        <div class="small text-black-50">Kai Zhang</div>
                        <div class="small text-black-50">Kai Zhang</div>
                        <div class="small text-black-50">Kai Zhang</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="mailto:mail@kai.sh">Kai Zhang: mail@kai.sh</a><br>
                            <a href="mailto:mail@mail.com">mail@mail.com</a><br>
                            <a href="mailto:mail@mail.com">mail@mail.com</a><br>
                            <a href="mailto:mail@mail.com">mail@mail.com</a><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fab fa-github text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Github</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="https://github.com/ranyxr/infoVis" class="mx-2">Github Repository</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Information Visualization 2020 VizTeam 36
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
{#  <script src="vendor/jquery/jquery.min.js"></script>#}
{#  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
<script src="{{ url_for('static', filename = './vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = './vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
{#  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}
<script src="{{ url_for('static', filename = './vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<!-- Custom scripts for this template -->
{#  <script src="js/grayscale.min.js"></script>#}
<script src="{{ url_for('static', filename = './js/grayscale.min.js') }}"></script>

</body>
</html>
